<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script>
        function submitForm(event) {
        event.preventDefault();
        var data = document.getElementById('data').value;
        var logo = document.getElementById('logo').value;  // this is the file path
        var url = '/' + '?data=' + encodeURIComponent(data);
        if (logo) {
            url += '&logo=' + encodeURIComponent(logo);
        }
        window.location.href = url;
    }
    </script>
</head>
<body>
    <title>QR Code Generator</title>
    <h1 class="text-center" style="margin-top: 25px;">QR Code Generator</h1>
    <!-- Use Bootstrap classes for the form -->
    <div class="container">
        <form onsubmit="submitForm(event)" class="form-group">
            <div class="row">
                <div class="col-12 col-md-6">
                    <label for="data">URL to QR-Codify:</label>
                    <input type="text" id="data" name="data" value="https://thedwelling.church" class="form-control">
                </div>
                <div class="col-12 col-md-6">
                    <label for="logo">Logo:</label>
                    <select id="logo" name="logo" class="form-control">
                        <option value="">None</option>
                        {% for icon in icons %}
                            <option value="{{ icon[1] }}">{{ icon[0] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <input type="submit" value="Generate" class="btn btn-primary mt-3">
                </div>
            </div>
        </form>
    </div>
    <!-- Add Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>